<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
  <title>Direcon - Soporte - Qui&eacute;nes somos</title>
  <meta name="description" content="">
  <meta name="keywords" content="">
  <meta http-equiv="Content-Type"
 content="text/html; charset=iso-8859-1">
  <link href="css/style.css" rel="stylesheet" type="text/css">
</head>
<body>
<div class="page-out">
<div class="page-in">
<div class="page">
<div class="main">

<{include file="header.html"}>

<div class="content">
<div class="content-left">
<div class="row1">
<h1 class="title">Qui&eacute;nes <span>Somos</span></h1>
<p><strong>Lorem Ipsum is simply dummy text</strong> of the printing
and typesetting industry. Lorem Ipsum has been the indusstandard dummy
text ever since the 1500s, when an unknown printer took a galley of
type and scrambleto make a type specimen book.</p>
<p>&nbsp;</p>
<p>It has survived not only five centuries, but also the leap into
electronic typesetting, remaining essentially unchanged. It was
popularised in the 1960s with the release </p>
<ul class="list1">
  <li>of Letraset sheets containing</li>
  <li>Lorem Ipsum passages,</li>
  <li>and more recently with desktop</li>
</ul>
<p>&nbsp;<br>
<strong>Lorem Ipsum is simply dummy text</strong> of the printing
and typesetting industry. Lorem Ipsum has been the industry's standard
dummy text ever since the 1500s, when an unknown printer took a galley
of type and scrambled it.<br>
<br>
</p>
</div>
<div class="row2">
<h2 class="subtitle">Qui&eacute;nes <span>Somos</span></h2>
<p><strong>Lorem Ipsum is simply dummy text</strong> of the printing
and typesetting industry. Lorem Ipsum has been the aaaa industry's
standard dummy text ever since the 1500s, ass as dwhen an unknasdown
printer took a galley of type and scrambled it to make a type
speascimen book. <br>
It has survived not only five centuries, but also the leap into
electronic typesetting.and scrambled it to make a type speascimen book.</p>
<p>&nbsp;</p>
<p><strong>Lorem Ipsum is simply dummy text</strong> of the printing
and typesetting industry. Lorem Ipsum has been the industry's standard
dummy text ever since the 1500s, when an unknown printer took a galley
of type and scrambled it to make a type specimen book.</p>
<p>&nbsp;</p>
<p align="right"><a href="<{$receiver}>?do=AboutUs" class="more">Leer M&aacute;s</a></p>
</div>
</div>
<div class="content-right">
<div class="mainmenu">
<h2 class="sidebar1">Main Menu</h2>
<ul>
  <li><a href="#">this is a dummy link 1</a></li>
  <li><a href="#">this is a dummy link 2</a></li>
  <li><a href="#">this is a dummy link 3</a></li>
  <li><a href="#">this is a dummy link 4</a></li>
  <li><a href="#">this is a dummy link 5</a></li>
  <li><a href="#">this is a dummy link 6</a></li>
  <li><a href="#">this is a dummy link 7</a></li>
  <li><a href="#">this is a dummy link 8</a></li>
  <li><a href="#">this is a dummy link 9</a></li>
  <li><a href="#">this is a dummy link 10</a></li>
</ul>
</div>
<div class="contact">
<h2 class="sidebar2">Contacto</h2>
<div class="contact-detail">
<p class="green"><strong>Puede&nbsp;contactarnos&nbsp;de&nbsp;las&nbsp;siguientes&nbsp;formas:</strong></p>
<!--
<p><strong>Direcci :</strong> Lorem Ipsum has been the<br>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;dummy
text the 1500s,</p>
-->
<p><strong>E-mail :</strong> &nbsp;&nbsp;&nbsp;soporte@direcon.cl</p>
<p><strong>Fono   :</strong> &nbsp;&nbsp;&nbsp;+56(2)28272222<br>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;000-0000-0000</p>
</div>
</div>
</div>
</div>
<{include file="footer.html"}>
</div>
</div>
</div>
</div>
</body>
</html>
