<div style="background-color: #0093D0; padding-top:20px; padding-bottom:3px;">

<table  width="100%%" height="100%%" border="0" cellspacing="0" cellpadding="0">
  <tr>
    <td>
    	<table width="640" border="0" align="center" cellpadding="0" cellspacing="0" style="border:10px solid #c8e5f6; background-color: #ffffff">
        <tr>
	          <td align="left" valign="top" colspan="2">
	          	<table width="640" border="0" cellspacing="0" cellpadding="0" style="border-bottom:1px solid #cccccc;">
		            <tr>
		              <td width="275" align="left" valign="middle" style="padding:0 30px;"><img src="http://centauro.dyndns-free.com/sigrep/htdocs/images/logo.gif" border="0" alt="" /></td>
		              <td rowspan="2" width="255" align="right" valign="middle" style="font-family:Arial; font-size:15px; font-weight: bold; color:#256C89; padding:30px;">Sistema de Gesti&oacute;n de Repuestos</td>
		            </tr>
		            <tr>
		              <td width="255" align="right" valign="middle" style="font-family:Arial; font-size:12px; font-weight: bold; color:#256C89; padding:10 30px;">Gerencia de Redes, Subgerencia de Agregaci&oacute;n</td>
		            </tr>
	         	</table>
	         </td>
	       </tr>
	       
	       <tr>
	       		<td>
	       			<table width="640" border="0" cellspacing="20" cellpadding="0">
	       				<tr>
	       					<td>
	       						<table width="600" border="0" align="center" cellpadding="0" cellspacing="0" bgcolor="#ffffff">
							       	<td width="270">	       		
							       		<h1 style="font-family:Arial, Helvetica, sans-serif; font-size:24px; color:#333;">¡Bienvenido al sitio de Gesti&oacute;n de Repuestos de Red!</h1>
										<p style="font-family:Arial, Helvetica, sans-serif; font-size:14px; color:#333; line-height:18px">Estimado %s, una cuenta en el Sistema de Gesti&oacute;n de Repuestos de Red te ha sido creada. Para usarla, s&oacute;lo tienes que registrarla haciendo click <a href="%s">aqu&iacute;</a>
										utilizando las credenciales:<br>
										<ul>
											<li>Usuario: %s</li>
											<li>Contrase&ntilde;a: %s</li>
										</ul>
										</p>
										
							       	</td>
							       	<td width="240" style="text-align:right"><img src="http://centauro.dyndns-free.com/sigrep/htdocs/images/site.png" width="282px" height="204px"></td>
	       						</table>
	       					</td>
	       				</tr>
	       	</table>
	       	</td>
	       </tr>

	       <tr>
	       		<td>
	       			<table width="640" border="0" align="center" cellpadding="5" cellspacing="0" style="text-align:center">
						<tr>
				       		<td colspan="2">
				       			<img src="http://www.freelancer.cl/img/email-images/welcome/freelancer/line.png">
				       		</td>
				       </tr>	       			
	       			</table>
	       		</td>
	       </tr>

	       
	       <tr>
	       		<td colspan="2">
	       			<table width="640" border="0" align="center" cellpadding="0" cellspacing="0" style="padding: 20px 20px 20px 20px;" bgcolor="#ffffff">	
				       
				       <tr>
				       		<td colspan="2">
				       			<p style="font-family:Arial, Helvetica, sans-serif; font-size:14px; color:#333; margin:15px 0 5px 0">Saludos,<br>El Administrador</p>
				       			
				       		</td>
				       </tr>	 	
				     </table>
				    </td>
	       </tr>
	       </table>
	       </td>
   </td>
  </tr>
</table>
</div>