<div class="footer">
<!--DO NOT Remove The Footer Links-->
<p>&copy; Copyright 2010. Designed by <a target="_blank"
 href="http://www.htmltemplates.net">HTML Templates</a><br>
<!--Template distributed by--><a href="http://www.htmltemplates.net"></a>
<!--Funding and graphics by--><a href="http://www.onlinecasino.im"></a>
<!--DO NOT Remove The Footer Links-->
</p>
<ul>
  <li style="border-left: medium none;"><a href="<{$receiver}>?do=DisplayHome"><span>Home</span></a></li>
  <li><a href="<{$receiver}>?do=AboutUs"><span>Qui&eacute;nes&nbsp;somos</span></a></li>
  <!--<li><a href="<{$receiver}>?do=WhatsNew"><span>Novedades</span></a></a></li>-->
  <li><a href="<{$receiver}>?do=Services"><span>Servicios</span></a></li>
  <li><a href="<{$receiver}>?do=Contact"><span>Contacto</span></a></li>
  <li><a href="<{$receiver}>?do=Resources"><span>Recursos</span></a></li>
  <li style="padding-right: 0px;"><a href="#"><span>Links</span></a></li>
</ul>
</div>