	<div class="header">
    <div class="logo">
    	<img src="images/logo.gif" alt="" title="" border="0" />
    	<label style="font-size: 30px; font-weight: bold; color: #007398; position: relative; bottom: 13px;">SiGREP</label>
    	<div style="font-size: 12px; font-weight: bold;">Gerencia de Redes,&nbsp;Subgerencia de Agregaci&oacute;n</div>
    </div>
    <div class="right_header">
    <div style="color: #0E4354; font-size: 15px; font-weight: bold;">Sistema de Gesti&oacute;n de Repuestos</div><br>
    Bienvenido <{$usuario_aplicacion->nombre}>, <!-- <a href="#">Visit site</a> | <a href="#" class="messages">(3) Messages</a> --> &nbsp;<a href="<{$receiver}>?do=Logout" class="logout">Logout</a></div>
    <div id="clock_a"></div>
    </div>

