/*##########################################
Name: Default styling for Niceforms v.1.0
Author: Lucian Slatineanu
URL: http://www.badboy.ro/
##########################################*/

/*General styles - NOT really related to the forms*/
/*
* {
	margin:0;
	padding:0;
}
body {
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	color:#404040;
	background:#fff;
}
img {border:0;}
#container {padding:20px;}
*/
/*Forms defaults - change as needed*/
/*
input, textarea {
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	color:#404040;
}
*/
/*
label {
	color:#999;
	cursor:pointer;
	padding-left:2px;
	line-height:16px;
}
label.chosen {color:#333;}
*/
legend {
	background:#bfbf30; 
	color:#fff; 
	font:17px/21px Calibri, Arial, Helvetica, sans-serif; 
	padding:0 10px; 
	margin:-26px 0 0 -11px; 
	font-weight:bold; 
	border:1px solid #fff; 
	border-color:#e5e5c3 #505014 #505014 #e5e5c3;
}

/* desde niceforms in admin panel */
.login_form{
width:600px;
height:250px;
background:url(images/login_bg.png) no-repeat center top;
/*margin:20px 0 0 145px;*/
/*float:left;*/
padding:0px 0 0 0px;
}
.form{
width:600px;
float:left;
clear:both;
}
.niceform fieldset { border:none; clear:both;}
.niceform label {font-size:11px; font-weight:bold; color:#666;}
.niceform label a{font-size:11px; font-weight:bold; color:#666;}
.niceform dl {clear:both; width:800px;}
.niceform dl.submit {clear:both; width:737px; text-align:center; padding:0 0 0 90px;}
.niceform dl.button {clear:both; width:737px; text-align:center; padding:0 0 0 90px;}

.niceform dt {float:left; text-align:right; width:250px; line-height:34px; padding:0 10px 10px 0;}
.niceform dd {float:left; width:490px; margin:0 0 10px 0;}


.niceform label.check_label{
padding:0 0 0 10px;
line-height:32px;
}
/* fin */

/*Transparent items*/
.outtaHere {
	position:absolute;
	left:-3000px;
}

/*Radio buttons*/
.radioArea, .radioAreaChecked {
	display:block;
	float:left;
	clear:left;
	width:15px;
	height:14px;
	font-size:0;
	cursor:pointer;
}
.radioArea {background:url(images/default/radio.gif) no-repeat left top;}
.radioAreaChecked {background:url(images/default/radio.gif) no-repeat left bottom;}

/*Checkboxes*/
.checkboxArea, .checkboxAreaChecked {
	display:block;
	float:left;
	clear:left;
	width:13px;
	height:13px;
	font-size:0;
	padding:0;
	margin:0;
	cursor:pointer;
}
.checkboxArea {background:url(images/default/checkbox.gif) no-repeat left top;}
.checkboxAreaChecked {background:url(images/default/checkbox.gif) no-repeat left bottom;}
.focused {border:1px dotted #ddd;}

/*Text inputs*/

.textinput, .textinputHovered {
	height:15px;
	background:url(images/default/input_bg.gif) repeat-x left top;
	border:none;
	padding:4px 0;
	vertical-align:middle;
}
.textinputHovered {background-position:left bottom;}

/* desde in admin panel niceforms */
.NFText {
	border:none; 
	vertical-align:middle; 
	font:12px/15px Arial, Helvetica, sans-serif; 
	background:none; 
	float:left;
}
.NFTextCenter {
	height:26px; 
	width:auto;
	background:url(images/default/input.gif) repeat-x 0 0; 
	padding:8px 0 0 0; 
	margin:0; 
	float:left; 
	line-height:27px;
}

.NFTextLeft, .NFTextRight {
	width:10px; 
	height:34px; 
	vertical-align:middle; 
	float:left;
}
.NFTextLeft {
	background:url(images/default/input-left.gif) no-repeat 0 0;
}
.NFTextRight {
	background:url(images/default/input-right.gif) no-repeat 0 0;
}

/* fin */
/*
.inputCorner {
	padding-bottom:0;
	vertical-align:middle;
}
*/

/* desde in admin panel niceforms */
.inputLeftCorner, .inputRightCorner {
	width:10px; 
	height:34px; 
	vertical-align:middle; 
	float:left;
}

.inputLeftCorner {
	background:url(images/default/input-left.gif) no-repeat 0 0;
}
.inputRightCorner {
	background:url(images/default/input-right.gif) no-repeat 0 0;
}
/* fin */

/*Text areas*/
.txtarea .tr, .txtarea .tr_xon {background:url(images/default/txtarea_tr.gif) no-repeat top right;}
.txtarea .tr_xon {background:url(images/default/txtarea_tr_xon.gif) no-repeat top right;}
.txtarea img.txt_corner {
	width:5px;
	height:5px;
	display:block;
}
.txtarea .br, .txtarea .br_xon {background:url(images/default/txtarea_br.gif) no-repeat top right;}
.txtarea .br_xon {background:url(images/default/txtarea_br_xon.gif) no-repeat top right;}
.txtarea .cntr {background:url(images/default/txtarea_cntr.gif) repeat-y right top;}
.txtarea .cntr_xon {background:url(images/default/txtarea_cntr_xon.gif) repeat-y right top;}
.txtarea .cntr_l, .txtarea .cntr_l_xon {
	width:5px;
	background:url(images/default/txtarea_l.gif) repeat-y left top;
	float:left;
}
.txtarea .cntr_l_xon {background:url(images/default/txtarea_l_xon.gif) repeat-y left top;}
.txtarea textarea {
	border:0;
	background:none;
	padding:0;
	margin:5px;
	overflow:hidden;
}

/*Selects*/
/*
.selectArea {
	width:200px;
	height:21px;
	background:url(images/default/select_bg.gif) repeat-x left top;
}

.selectArea .left {
	width:8px;
	height:21px;
	float:left;
	background:url(images/default/select_left.gif) no-repeat left top;
}
*/

/* desde niceforms in admin panel */

.selectArea {
	height:34px; 
	position:absolute; 
	border:1px solid transparent; 
}

.selectArea .left {
	float:left; 
	width:12px; 
	height:34px; 
	background:url(images/default/select-left.gif) no-repeat 0 0; 
	vertical-align:middle;
}

/* fin */
/*
.selectArea .right {
	width:21px;
	height:21px;
	float:right;
	background:url(images/default/select_right.gif) no-repeat left top;
}

.selectArea .right a {
	display:block;
	width:200px;
	height:21px;
	margin-left:-179px;
	position:absolute;
}
.selectArea .right i {display:none;}
*/
/*
.selectArea .center {
	width:160px;
	color:#FFF;
	padding-top:3px;
	overflow:hidden;
	white-space:nowrap;
}
*/

/* desde niceforms in admin panel */

.selectArea .center {
	height:34px; 
	width:310px; 
	background:url(images/default/select-right.gif) no-repeat 100% 0; 
	cursor:pointer; 
	font:12px/21px Arial, Helvetica, sans-serif; 
	color:#000; 
	padding-left:3px; 
	margin-left:3px; 
	line-height:34px;
}
/* fin */
.selectArea .center a {
	display:block;
	width:200px;
	height:21px;
	margin-left:-179px;
	position:absolute;
}
.selectArea .center i {display:none;}

/*Selects drop-down*/

/*.NFSelect {height:34px; position:absolute; border:1px solid transparent; }*/
.NFSelect {float:left; clear:both; height:34px; border:1px solid transparent; }
/*.NFSelectLeft {float:left; width:12px; height:34px; background:url(images/default/select-left.gif) no-repeat 0 0; vertical-align:middle;}*/
.NFSelectLeft {float:left; clear:both; width:12px; height:34px; background:url(images/default/select-left.gif) no-repeat 0 0; vertical-align:middle;}
.NFSelectRight {height:34px; width:480px; background:url(images/default/select-right.gif) no-repeat 100% 0; cursor:pointer; font:12px/21px Arial, Helvetica, sans-serif; color:#000; padding-left:3px; margin-left:3px; line-height:34px;}
/*.NFSelectTarget {position:absolute; background:none; margin-left:-13px; margin-top:0px; z-index:3; left:0; top:0; padding-bottom:13px;}*/
.NFSelectTarget {float:left; background:none; margin-left:-13px; margin-top:0px; z-index:3; left:0; top:0; padding-bottom:13px;}
.NFSelectOptions {position:relative; float:left; margin-left:16px; margin-top:0; list-style:none; padding:0px; line-height:18px; color:#000; z-index:4; max-height:200px;  left:0; top:0;}
.NFSelectOptions li {padding:3px 0px 3px 0; width:475px;background:#efefef;}
.NFSelectOptions a {display:block; text-decoration:none; color:#000; padding:3px 0 3px 6px; background:none;}
.NFSelectOptions a.NFOptionActive {background:#ecf8fd;}
.NFSelectOptions a:hover {background:#ecf8fd;}


/* original

.optionsDivInvisible, .optionsDivVisible {
	position:absolute;
	margin-top:-1px;
	margin-left:3px;
	width:172px;
	background:#6f7074;
	padding:2px;
	font-size:11px;
	z-index:20;
}

*/

.optionsDivInvisible, .optionsDivVisible {
	position:absolute;
	margin-top:-1px;
	margin-left:16px;
	padding:0px;
	z-index:20;
}

/* niceforms in admin panel
.optionsDivInvisible, .optionsDivVisible {
	position:relative; 
	float:left; 
	margin-left:16px; 
	margin-top:26px; 
	list-style:none; 
	padding:0px; 
	line-height:18px; 
	color:#000; 
	z-index:4; 
	max-height:200px;  
	left:0; 
	top:0;
}
*/
.optionsDivInvisible {display:none;}
.optionsDivVisible {display:block;}
.optionsDivVisible p {
	margin:0;
	padding:0;
}

/* original

.optionsDivVisible a {
	color:#F2F2F2;
	text-decoration:none;
	display:block;
	padding:1px 4px;
	border:1px solid #6f7074;
}
.optionsDivVisible a:hover {
	color:#FFF;
	background:#5F6062;
	border-color:#cfd0d6;
}

*/

.optionsDivVisible a {
	color:#000;
	text-decoration:none;
	display:block;
	padding:3px 0 3px 6px;
	background:#fff;
	border:1px solid #6f7074;
}
.optionsDivVisible a:hover {
	background:#ecf8fd;
}

/* niceforms in admin panel
.optionsDivVisible a {
	display:block; 
	text-decoration:none; 
	color:#000; 
	padding:3px 0 3px 6px; 
	background:none;
}
.optionsDivVisible a:hover {
	background:#ecf8fd;
}
*/

/*Button*/
.buttonSubmit, .buttonSubmitHovered {
	width:auto;
	height:26px;
	color:#FFF;
	font-weight:bold;
	padding:2px;
	background:url(images/default/button_bg.gif) repeat-x left top;
	cursor:pointer;
	border:none;
}
.buttonSubmitHovered {background-position:left bottom;}
.buttonImg {vertical-align:bottom;}

/*Files*/
.NFFileButton {padding-bottom:0; vertical-align:bottom; cursor:pointer; background:url(images/default/file.gif) no-repeat 0 0; width:58px; height:34px;}
/*.NFFile {position:relative; margin-bottom:5px;}*/
.NFFile {position:relative; margin-bottom:5px;}
.NFFile input.NFhidden {position:relative;  filter:alpha(opacity=0); opacity:0; z-index:2; cursor:pointer; text-align:left;}
.NFFileNew {position:absolute; top:0px; left:0px; z-index:1;}


/*Buttons*/
.NFButton {width:auto; height:34px; padding:0 15px; font-weight:bold; background:url(images/default/button.gif) repeat-x 0 0; cursor:pointer; border:none;color:#FFFFFF; text-shadow:1px 1px #45add8;vertical-align:middle;}
.NFButtonLeft, .NFButtonRight {width:10px; height:34px; vertical-align:middle;}
.NFButtonLeft {background:url(images/default/button-left.gif) no-repeat 0 0;}
.NFButtonRight {background:url(images/default/button-right.gif) no-repeat 0 0;}

/*Checkbox*/
/*.NFCheck {cursor:pointer; position:absolute;width:20px; margin:0px 0 0 0; height:20px; border:1px solid transparent; background:url(images/default/checkbox.gif) no-repeat 0 0; z-index:2;}*/
.NFCheck {cursor:pointer; position:absolute;width:20px; margin:0px 0 0 0; height:20px; border:1px solid transparent; background:url(images/default/checkbox.gif) no-repeat 0 0; z-index:2;}

/*Focused*/
.NFfocused {border:1px dotted #666;}
/*Hovered*/
.NFh {background-position:0 100%;}
.NFhr {background-position:100% 100%;}
/*Hidden*/
.NFhidden {opacity:0; z-index:-1; position:relative;}
