<?xml version="1.0"?>
<config>
        <!--****According to the manual, rootFolder and rootURL should be changed to reflect your machine's 
                installation. However, you do not need to change it becuase we are using relative path 
                and virtual URL
	****-->

	<!--****Root Folder can be absolute path but we will use relative path, 
                so ignore the node below
	****-->
	<rootFolder>.</rootFolder>

	<!--****Root folder is the relative to the config file folder
                (Here root folder is the same as the config file folder)
	****-->
        <rootFolder1>.</rootFolder1>

	<!--****Root URL can be absolute URL but we will use virtual URL, 
                so ignore the node below
	****-->
	<rootURL1>http://localhost/eoceneSystem</rootURL1>

	<!--****Here root URL is virtual to the Web root****-->
	<rootURL>/</rootURL>

	<defaultCommand>DisplayHome</defaultCommand>
<!--	<templateEngine>EoceneTemplateEngine</templateEngine>	-->
	<templateEngine>Smarty</templateEngine>
	<receivers>
		<main>index.php</main>
	</receivers>
	<paths>
		<commands>/../commands</commands>
		<templates>/../templates</templates>
		<plugCommands>/../commands</plugCommands>
		<plugTemplates>/../templates</plugTemplates>
		<application>/../</application>
		<lib>/../lib</lib>
		<smarty_dir>/../classes/Smarty/libs</smarty_dir>
		<smarty_config>/../configs</smarty_config>
		<smarty_compile>/../templates_c</smarty_compile>
		<smarty_cache>/../cache</smarty_cache>
	</paths>
	<dbInfo>
		<dbType>mysql</dbType>
		<host>localhost</host>
		<userid>sigrep</userid>
		<password>sigrep</password>
		<database>sigrep</database>
	</dbInfo>
	<!--****appSettings is an optional node. You can place any thing here 
                and access it from $fc->appSettings
	****-->
	<appSettings>
		<!--***If you are using a language file, you have to define a node 
                       <langFile>Location of language file here</langFile>
                       Location of language file should be wrt rootFolder
		       To use a language file, change the langFile1 node below to langFile
                ****-->
		<langFile1>/location/of/userLanguageFile.txt</langFile1>
		<html_email>no</html_email>
	</appSettings>
	<commands>
		<!--*** REPUESTOS ***-->
		<DisplayHome>
			<class>DisplayHome</class>
			<success>DisplayHome.html</success>
		</DisplayHome>
		<AboutUs>
			<class>AboutUs</class>
			<success>AboutUs.html</success>
		</AboutUs>
		<WhatsNew>
			<class>WhatsNew</class>
			<success>WhatsNew.html</success>
		</WhatsNew>
		<Services>
			<class>Services</class>
			<success>Services.html</success>
		</Services>
		<Contact>
			<class>Contact</class>
			<success>Contact.html</success>
		</Contact>
		<Resources>
			<class>Resources</class>
			<success>Resources.html</success>
		</Resources>
		<Links>
			<class>Links</class>
			<success>Links.html</success>
		</Links>
		<!--*** AJAX ***-->
		<Ajax>
			<class>Ajax</class>
		</Ajax>
		<!--*** ADMINISTRACION ***-->
		<AdministraCuenta>
			<class>AdministraCuenta</class>
			<success>AdministraCuenta.html</success>
		</AdministraCuenta>
	</commands>
	<plugCommands>
	</plugCommands>
</config>
